/.DS_Store
/.env
*.pyc
__pycache__/
*/__pycache__/
tts
analyze_personality.py
check_date.py
fine_tune_with_markov.py
fine_tune.py
rm_urls.py
test.py
ai_a.py
hybrid_response.py
markov_response.py
on_message.py
markov_chain.py
markov_dataset_generator.py